{% extends "/userBase.html"%}
{% block content%}
<div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Food Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total Price</th>
      </tr>
    </thead>
    <tbody>
    {% for item in session['cart'] %}
      <tr>
        <td>{{ item }}</td>
        <td>{{ session['cart'][item][0] }}</td>
        <td>{{ session['cart'][item][1] }}</td>
        <td>{{ session['cart'][item][2] }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}