<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width ,initial-scale=1.0">
    <link rel="stylesheet" href="css/all.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="css/home.css">
    <title>HOME</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
      <div class="container">
        <a href="template.html" class="navbar-brand"><img src="image/sakura.png" height="60" width="60"></a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#collapsebar">
          <span class="navbar-toggle-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsebar">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a href="home.html" class="nav-link">HOME</a>
            </li>
            <li class="nav-item">
              <a href="food.html" class="nav-link">FOOD</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">ABOUT ME</a>
            </li>
            <li class="nav-item">
              <a href="listdata.html" class="nav-link">LIST</a>
            </li>
            <li class="nav-item">
              <a href="form.html" class="nav-link">SIGN UP</a>
            </li>
            <li class="nav-item">
              <a href="lounge.html" class="nav-link">LOUNGE</a>
            </li>
          </ul>
      </nav>

  <!-- Carousel -->

      <section id="showcase">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item carousel-image-1 active">
              <div class="container">
                <div class="carousel-caption d-none d-sm-block text-right mb-5">
                  <h1 class="display-3">Featured Restaurant</h1>
                  <p class="lead">Find out what is the flavor of the month circulating!</p>
                  <a href="#membership" class="btn btn-danger btn-lg">Discover</a>
                </div>
              </div>
            </div>

            <div class="carousel-item carousel-image-2">
              <div class="container">
                <div class="carousel-caption d-none d-sm-block text-right mb-5">
                  <h1 class="display-3">Miyawaki's Identity</h1>
                  <p class="lead">Know more about the world-famous organization and what we stand for.</p>
                  <a href="#features" class="btn btn-primary btn-lg">Who we are</a>
                </div>
              </div>
            </div>

            <div class="carousel-item carousel-image-3">
              <div class="container">
                <div class="carousel-caption d-none d-sm-block text-right mb-5">
                  <h1 class="display-3">Get started</h1>
                  <p class="lead">Indulge in the experience of tasting the best meals prepared by skilled chefs around you, and re-discover what food really means.</p>
                  <a href="#signupform" class="btn btn-success btn-lg">Welcome</a>
                </div>
              </div>
            </div>
          </div>

          <a href="#myCarousel" data-slide="prev" class="carousel-control-prev">
            <span class="carousel-control-prev-icon"></span>
          </a>

          <a href="#myCarousel" data-slide="next" class="carousel-control-next">
            <span class="carousel-control-next-icon"></span>
          </a>
        </div>
      </section>

      <!-- Who are we? -->

      <section id="aboutus" class="p-5">
        <div class="dark-box">
          <div class="row">
            <div class="container pt-5">
              <h1>Who are we?</h1>
              <p class="lead p-3">Miyawaki is created by former Michelin Executive Director Ahn Yujin, in 2005 after leaving the company. Her goal is to introduce the world's best restaurants to the people
              with the combined experience of her renowned Critic Team, and the people's votes. For the first time, customers and clientele are able to decide which restaurants deserve the renown that they get.</p>
            </div>
          </div>
        </div>
      </section>

      <!-- What do we do -->

      <section id="purpose" class="p-5">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-4 py-5">
              <div class="d-flex">
                <div class="align-self-start">
                  <i class="far fa-check-circle fa-2x"></i>
                  </div>
                  <div class="align-self-end ml-3">
                    <p>Decide on the top restaurants for the people, by the people. You have the power to change the entire food critic industry. Rate and review the restaurants you go to and be ingrained in
                    a close-knitted community of chefs and critics. </p>
                  </div>
                </div>
                <div class="d-flex" id="bottom-left">
                  <div class="align-self-start">
                    <i class="far fa-check-circle fa-2x"></i>
                    </div>
                    <div class="align-self-end ml-3">
                      <p>Join the Miyawaki Chefs and chat with like-minded members. Get recommendations for restaurants to look out for, and form relationships that share a common interest in food.</p>
                      </div>
                  </div>
              </div>

            <div class="col-md-4 p-5">
              <img src="image/sakura.png" width="400" height="400">
            </div>

            <div class="col-md-4 py-5">
              <div class="d-flex">
                <div class="align-self-start">
                  <i class="far fa-check-circle fa-2x"></i>
                  </div>
                  <div class="align-self-end ml-3" >
                    <p>Learn more about the food on your plate and expand your knowledge.</p>
                  </div>
                </div>
                <div class="d-flex" id="bottom-right">
                  <div class="align-self-start">
                    <i class="far fa-check-circle fa-2x"></i>
                    </div>
                    <div class="align-self-end ml-3">
                      <p>Never be confused on where to eat anymore. With Miyawaki, you will be ensured 100% enjoyment in your next meal and enjoy exclusive benefits like prioritised reservations and
                      a chance to meet the masterminds behind the world's finest dishes.</p>
                    </div>
                  </div>
              </div>
      </section>


    <!-- Featured Restaurant Section -->

    <section class="featured-restaurant">
      <div class="container py-5">
        <div class="row">
          <div class="col-lg-6">
            <h1>Featured Restaurant of the Month</h1>
            <h2>Mirazur</h2>
          </div>
          <div class="col-lg-6">
            <img src="image/yuj1.jpg" class="img-fluid rounded-circle">
          </div>
        </div>
      </div>










    </section>






























    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>
