{% extends "base.html" %}
{% block title %}HOTEL LÃ BODO - Retrieve Order{% endblock %}

{% block content %}
<h1 class="display-5">Order Sent</h1>
<div>
  {% if count == 0 %}
  <p>There are no Order being Sent.</p>
  {% elif count == 1 %}
  <p>There is 1 Order is Sent.</p>
  {% else %}
  <p>There are {{ count }} Order Sent.</p>
  {% endif %}
</div>
<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Order ID</th>
        <th>Item Name</th>
        <th>Product Category</th>
        <th>Supplier</th>
        <th>Quantity</th>
        <th>Remarks</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {% for order in order_list %}
      <tr>
        <td>{{ order.get_order_id() }}</td>
        <td>{{ order.get_item_name() }}</td>
        <td>{{ order.get_product_name() }}</td>
        <td>{{ order.get_supplier() }}</td>
        <td>{{ order.get_quantity() }}</td>
        <td>{{ order.get_remarks() }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
