{% extends "userBase.html" %}
{% block title %}Library Loan System - Cart {% endblock %}


<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
{% block content %}
<br>
<br>
<br>
<br>
<!-- Nav -->
<div class="row">
    <div class="col">
        <form action = "{{ url_for('view_cart')}}" method="POST">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#cart">Cart (<span class="total-count"></span>)</button><button class="clear-cart btn btn-danger">Clear Cart</button>
        </form>
    </div>
</div>

    <!-- Main -->
<form method="POST">
    <div class="container">
        <div class="row">
          <div class="col">
            <div class="card" style="width: 20rem;">
      <img class="card-img-top" src="http://www.azspagirls.com/files/2010/09/orange.jpg" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Orange</h4>
        <p class="card-text">Price: $0.5</p>
        <button name="add_cart" value="Pizza,5.00" type="submit" class="add-to-cart btn btn-primary">Add to cart</button>
      </div>
    </div>
   </div>
</div>
</div>
</form>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{url_for('static', filename='js/Addcart.js')}}"></script>

{%endblock%}