{% extends "userBase.html" %}
{% block title %}Library Loan System - Home{% endblock %}

{% block content %}
<h1 class="display-4"></h1>
{% block css %}
  {{ super() }}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/royal_style.css') }}">
{% endblock %}

<section class="about_history_area section_gap">
    <div class="container" style="padding-top: 200px;">
        <hr>
        <div class="row">
            <div class="col-md-6 d_flex align-items-center">
                <div class="about_content ">
                    <h2 class="title title_color">HOTEL LA BODO</h2>
                    <p>We believe the choices we make about what we eat, where it comes from and how it’s prepared have a direct and powerful impact on the health of individuals, communities and the environment</p>
                    <a href="{{ url_for('createReservation') }}" class="button_hover theme_btn_two">Book Reservation</a>
                </div>
            </div>
            <div class="col-md-6">
                <img class="img-fluid" src="static/image/fine food 1.jpg" alt="">
            </div>
        </div>
        <hr>
    </div>
</section>

<section class="Pre-order">
    <div class="container" style="d-flex justify-content-center">
        <center><h2>Menu</h2></center>
        <a href="{{ url_for('cart') }}" class="button_hover theme_btn_two float-right">Cart</a>
        <br>
        <br>
        <h3 class="card-title mb-4" style="width: 100%; text-align: center; border-bottom: 1px solid #000; line-height: 0.1em; margin: 10px 0 20px;"><span style="background:#fff; padding: 0 50px;">~ Pre-orders ~</span></h3>
    </div>
    <div>
    <a href="{{ url_for('createReview') }}" class="button_hover theme_btn_two float-right">Write a review</a>
    </div>
</section>



<!--================ Testimonial Area  =================-->
<section class="testimonial_area section_gap">
    <div class="container">
        <div class="section_title text-center">
            <h2 class="title_color">Testimonial from our Customers</h2>
        </div>

            {% for review in reviews_list %}
        <div class="testimonial_slider owl-carousel">
            <div class="media testimonial_item">
                <img class="rounded-circle" src="static/image/testtimonial-1.jpg" alt="">
                <div class="media-body">
                    <a href="#"><h4 class="sec_h4"> {{ review[0] + ' ' + review[1] }} </h4></a>
                    <p>{{ review[2] }} </p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
        <!--================ Testimonial Area  =================-->

{% endblock %}

